@import 'styles/constants';
@import 'styles/colors';

.teammate {
  position: relative;

  display: grid;
  grid-template-columns: 250px 236px 1fr;
  grid-template-rows: 1fr;

  width: 100%;
  height: 100%;
  padding: 16px 0;

  &::after {
    @include set-team-border(24px);
  }

  &__info {
    @extend %flex-row;

    position: relative;
    column-gap: 12px;

    &-checkbox {
      input {
        cursor: pointer;

        display: inline-block;

        width: 16px;
        height: 16px;
        margin-top: 4px;

        appearance: none;
        border: 1.5px solid $grey-text;
        border-radius: 4px;

        &:hover {
          border-color: $black-text;
        }

        &:focus {
          border-color: $blue-95;
        }

        &:checked {
          background-color: $blue-62;
          background-image: url('assets/add_success_white.svg');
          border-color: $blue-62;

          &:hover {
            background-color: $black-text;
            border-color: $black-text;
          }
        }
      }
    }

    &-avatar {
      overflow: hidden;

      width: 40px;
      height: 40px;

      background-color: $grey-225;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-item {
      @extend %flex-column;

      justify-content: space-between;
      padding: 2px 0;
    }

    &-contacts,
    &-time {
      margin-left: 31px;
    }

    &-time {
      @extend %flex-row;

      position: relative;
    }
  }
}

.icon__wrapper {
  cursor: pointer;

  position: absolute;
  top: -8px;
  right: -8px;

  padding: 8px;
}

.text_prime {
  @include set-font-size(14px, 16px, 700);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_ordinary {
  @include set-font-size(14px, 16px, 600);

  overflow: hidden;

  max-width: 167px;

  color: $grey-118;
  text-overflow: ellipsis;
  white-space: nowrap;
}
