@import 'styles/colors';
@import 'styles/constants';

.sidebarContainer {
  position: absolute;
  z-index: 105;
  top: 0;
  left: 0;

  display: none;

  width: 100vw;
  height: 100vh;

  &_opened {
    display: block;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  width: 35vw;
  height: 100vh;
  padding: 24px;

  background-color: $white;
  box-shadow: -5px 0 50px 0 $black-op15;

  &__close-btn {
    @extend %transition-initial;

    @include set-background-btn(
      '../../../assets/right-sidebar-icons/close-btn.svg',
      32px,
      32px
    );

    position: absolute;
    z-index: 2;
    top: 24px;
    right: 24px;

    &:hover {
      @extend %transition-hover;
    }
  }

  &__menu-btn {
    @extend %transition-initial;

    @include set-background-btn(
      '../../../assets/right-sidebar-icons/actions-btn.svg',
      32px,
      32px
    );

    position: absolute;
    z-index: 2;
    top: 24px;
    right: 68px;

    &:hover {
      @extend %transition-hover;
    }
  }
}
