@import 'styles/colors';
@import 'styles/constants';

.select {
  display: grid;
  grid-template: 1fr / 116px 120px;

  &__label {
    @include set-font-size(16px, 20px, 600);

    color: $grey-118;
  }
}
